@using Microsoft.AspNetCore.Identity
@using RentalBike.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm">
        <ul>
            <li><a asp-area="Identity" asp-page="/Account/Manage/Index">Привіт, @UserManager.GetUserName(User)!</a></li>
            <li><button type="submit">Вийти</button></li>
        </ul>
    </form>
}
else
{
    <ul>
        <a class="btn btn-outline-primary me-2" asp-area="Identity" asp-page="/Account/Register">Реєстрація</a>
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Увійти</a>
    </ul>
}